.color-selection {
  margin-top: -1rem;
}

.size-section {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  gap: 0.5rem;
}
.voucher-section {
  display: flex;
  flex-direction: row;
  margin-top: -25px;
}

.size-header {
  display: flex;
  margin-top: -1rem;
  justify-content: space-between;
  align-items: center;
}
.voucher-input {
  margin: 0;
  padding: 0;
  margin-top: -15px;
  margin-left: -9px;
}
.size-buttons {
  display: flex;
  gap: 0.5rem;
}

.size-button {
  width: 2rem;
  height: 3rem;
  border: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-section {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 1rem;
}

.quantity-controls {
  display: flex;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
}

.quantity-button {
  padding: 0.5rem;
  /* background: white; */
  border: none;
  cursor: pointer;
}

.quantity-display {
  width: 3rem;
  text-align: center;
}

.size-guide {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.size-guide:hover {
  color: #ffd700; /* Change to any color you prefer on hover */
}
.clear-section {
  margin-top: 15px;
}
