.voucher-section2 {
  background-color: #151a27;
  padding: 30px;
  margin-left: -100px;
  margin-right: 80px;
  text-align: center;
  margin-top: -30px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden; /* Loại bỏ kéo ngang */
}

.add-voucher-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.add-voucher-btn:hover {
  background-color: #37a048;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
}

.voucher-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Tự động điều chỉnh số cột */
  gap: 60px;
  width: 100%;
  max-width: 1300px; /* Giới hạn chiều rộng tối đa */
  margin: auto; /* Canh giữa */
}

.voucher-item {
  background-color: #131720;
  padding: 20px;
  border-radius: 10px;
  margin-right: -30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, border-color 0.2s ease;
}

.voucher-item:hover {
  transform: scale(1.05);
  border: 1px solid #4caf50;
}

.for-text {
  font-size: 1rem;
  color: #a0a0a0;
  margin-bottom: 10px;
}

.voucher-code {
  font-size: 0.9rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.voucher-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.action-btn-voucher {
  display: flex;
  align-items: center;
  background: none;
  justify-content: center;
  border: none;
  color: #a0a0a0;
  margin: auto;
  cursor: pointer;
  font-size: 0.9rem;
  transition: color 0.2s;
}

.action-btn-voucher:hover {
  color: #ffffff;
}

.action-btn-voucher svg {
  margin-right: 5px;
}

.validity,
.for-products {
  font-size: 0.8rem;
  color: #a0a0a0;
}

@media (max-width: 768px) {
  .voucher-grid {
    grid-template-columns: 1fr; /* Chỉ hiển thị 1 voucher mỗi hàng trên màn hình nhỏ */
  }
}
