@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151a27;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  /* --primary-color: #3498db; */
  --secondary-color: #2ecc71;
  --background-color: #151a27;
  --text-color: #ffffff;
  --small-text-color: #a7aab5;
  --button-color: #37c25e;
  --text-sale-color: #F10B0B;
  --button-new-color: #B479D9;
}
