.terms-container {
  background-color: #1e2130;
  color: #ffffff;
  padding: 20px;
  margin: 2% 10%;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.terms-title {
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.terms-title::after {
  content: "▼";
  font-size: 16px;
  margin-left: 10px;
}

.terms-content {
  max-height: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.terms-content.closed {
  max-height: 0;
}
.domdom {
  font-weight: bold;
  transition: text-shadow 0.3s ease;
}
.domdom:hover {
  text-shadow: 0 0 3px rgba(255, 255, 0, 0.5), 0 0 5px rgba(255, 255, 0, 0.5),
    0 0 8px rgba(255, 165, 0, 0.5);
}
.terms-section {
  margin-bottom: 20px;
}

.section-title {
  font-size: 18px;
  margin-bottom: 10px;
}
.section-title:hover {
  text-shadow: 0 0 3px rgba(103, 113, 101, 0.5), 0 0 5px rgba(54, 57, 63, 0.5),
    0 0 8px rgba(96, 113, 97, 0.5);
}

.terms-paragraph {
  font-size: 14px;
  line-height: 1.5;
  font-family: Montserrat;
  margin-bottom: 10px;
}
